<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0;text/html;charset=ISO-8859-1" http-equiv="Content-Type">
<title>Assigned Seating</title>
<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='assignedSeating.js')}}" type="text/javascript"></script>
</head>

<body onload="onLoad()">
<h3>Assigned Seating</h3>
<input type="file" id="browseButton" /><br>
<button onclick="onAssign()">Assign</button> <br>
<button onclick="onSaveConstraints()">SaveConstraints</button> <br>

<div id="contents">
<div class="leftFloatPanel" style="width: 25%; padding-bottom: 1em;">
   <p class="title">All Guests
   <ul id="guestlist" class="droplist" ondrop="drop(event)" ondragover="allowDrop(event)">
   </ul>
</div>
<div class="leftFloatPanel" style="width: 70%" >
   <p class="title" id="Constraints">Constraints
   <p>Keep together
   <div id="keepTogetherRow" class="horizontalContainer">
		<div id='keepTogetherList'>
			<ul class="droplist" ondrop="drop(event)" ondragover="allowDrop(event)"></ul>
		</div>
   </div>
   <p>Better kept together
   <div id="betterKeptTogetherRow" class="horizontalContainer">
		<div id='betterKeptTogetherList'>
			<ul class="droplist" ondrop="drop(event)" ondragover="allowDrop(event)"></ul>
		</div>
   </div>
   <p>Better kept separated
   <div id="betterKeptSeparateRow" class="horizontalContainer">
		<div id='betterKeptSeparateList'>
			<ul class="droplist" ondrop="drop(event)" ondragover="allowDrop(event)"></ul>
		</div>
   </div>
   <p>Keep separate
   <div id="keepSeparateRow" class="horizontalContainer">
		<div id='keepSeparateList'>
			<ul class="droplist" ondrop="drop(event)" ondragover="allowDrop(event)"></ul>
		</div>
   </div>
</div>
<div class="leftFloatPanel" style="width: 70%">
   <p class="title">Tables</p>
   Number of tables: <input type="number" id="NumTablesInput" value="10"><br>
   Average guests per table: <input type="er" id="NumPerTableInput" value="10"><br>
   <button onclick="createTables()">Update tables</button>
   <div id="tablesRow" class="horizontalContainer">
   </div>
   <br>
   </div>
</div>
</div>

</body>
</html>
